@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#__next {
  margin: 0;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.page-wrap {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

body {
  background-color: theme("colors.stella-purple");
  color: whitesmoke;
}

.p-accent-right {
  padding-right: 30px;
  position: relative;

  @screen md {
    &:after {
      content: "";
      display: block;
      height: 50%;
      position: absolute;
      width: 4px;
      top: 8px;
      right: 0;
      background: theme("colors.pip-purple");
    }
  }
}

@layer utility {
  .corner-accent {
    @apply w-72 h-72 pointer-events-none absolute ;
    background-image: linear-gradient(
      135deg,
      #ffffff 0%,
      theme("colors.pip-purple") 30%,
      theme("colors.pip-purple") 100%
    );
    mask-image: url("./assets/corner.svg");
    mask-clip: fill-box;
  }
}

.corner-accent-tl {
  @apply corner-accent top-0 left-0;
}
.corner-accent-tr {
  @apply corner-accent top-0 right-0 rotate-90;
}
.corner-accent-bl {
  @apply corner-accent bottom-0 left-0 -rotate-90;
}
.corner-accent-br {
  @apply corner-accent bottom-0 right-0 rotate-180;
}
