@tailwind base;
@tailwind components;
@tailwind utilities;

*,*:before,*:after {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.page-wrap {
  margin: 0 auto;
  max-width: 1600px; 
  width: 100%;
}

body {
  /* background-color: theme('colors.matt-black'); */
  background:rgb(14,14,14);
  color: whitesmoke;
}

.p-accent-right {
  padding-right: 30px;
  position: relative;
}
.p-accent-right:after {
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  width: 4px;
  top: 8px;
  right: 0;
  background: theme('colors.pip-purple')
}